<!-- dkk
入库查询小页面
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <script>
        function delblog(){
        const ans = confirm("确认要删除？删除之后库存随之减少");
        if (ans===false) {
        event.preventDefault(); //取消默认应答
        return false;
    }else{
        alert("正在删除")
        return true
    }
    }
</script>

<body>
<table border="1" style="margin: auto;width: 100%" cellspacing="0">
    <tr>
        <th colspan="11">入库查询
            <form th:action="@{/Vegetables}" method="post">
                 订单编号：
                <input type="text" name="orderId" th:value="${OrderIdText}">
                  供应商：
                <input type="text" name="supplierName" th:value="${SupplierNameText}">
                  商品名：
                <input type="text" name="goodsName" th:value="${GoodsNameText}">

                 商品类别:
                <input type="text" name="category" th:value="${CategoryText}">
                日期:
                <input type="Date" name="Date" th:value="${DateText}">
                <input type="submit" value="查询">
            </form>
        </th>
    </tr>
    <tr>
        <th>订单编号</th>
        <th>供货商名称</th>
        <th>商品编号</th>
        <th>商品名</th>
        <th>商品类别</th>
        <th>单价</th>
        <th>数量</th>
        <th>价格单位</th>
        <th>总计</th>
        <th>进货日期</th>
        <th colspan="2">操作</th>
    </tr>

    <tr th:each="goods:${Vegetables.list}" style="text-align: center">
        <td th:text="${goods.orderId}" ></td>
        <td th:text="${goods.supplierName}"></td>
        <td th:text="${goods.goodsId}"></td>
        <td th:text="${goods.goodsName}"></td>
        <td th:text="${goods.category}"></td>
        <td th:text="${goods.price}"></td>
        <td th:text="${goods.num}"></td>
        <td th:text="${goods.unit}"></td>
        <td th:text="${goods.cost}"></td>
        <td th:text="${goods.date}"></td>
        <th>
           <a  th:onclick="delblog()"  th:href="@{'/deleteGoods?deleteGoods='+${goods.id}}">删除</a>
        </th>
    </tr>
    <td colspan="11">
        <a th:if="${Vegetables.hasPreviousPage}" th:href="@{/Vegetables?pn=1}">首页</a>
        <a th:if="${Vegetables.hasPreviousPage}" th:href="@{'/Vegetables?pn='+${Vegetables.prePage}}">上一页</a>
        <span th:each="num: ${Vegetables.navigatepageNums}">
        <a th:if="${Vegetables.pageNum == num}" style="color: #FF4400" th:href="@{'/Vegetables?pn='+${num}}" th:text="'('+${num}+')'"></a>
        <a th:if="${Vegetables.pageNum != num}" th:href="@{'/Vegetables?pn='+${num}}" th:text="${num}"></a>
    </span>
            <a th:if="${Vegetables.hasNextPage}" th:href="@{'/Vegetables?pn='+${Vegetables.nextPage}}">下一页</a>
        <a th:if="${Vegetables.hasNextPage}" th:href="@{'/Vegetables?pn='+${Vegetables.pages}}">尾页</a>
        &nbsp;&nbsp;&nbsp;
        当前总计[[${Vegetables.total}]]条数据
        &nbsp;&nbsp;&nbsp;
        <a th:href="@{/download}">点击此处导出</a>
    </td>
</table>
</body>

</html>