<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <title>商品入库</title>
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
</head>
<style>
    .inputGoods{
        width: 30%;
        height: 40px;
        float: left;
        margin-left:15px;
    }
</style>
<script>
  function f() {
      if ($('#orderId').val() == '' ){
          //  alert("保证传入的不是空");
          alert("请输入订单编号");
          return false;
      }
      if ($('#goodsId').val() == '' ){
          //  alert("保证传入的不是空");
          alert("请输入商品编号");
          return false;
      }
      if ($('#goodsName').val() == '' ){
          //  alert("保证传入的不是空");
          alert("请输入商品名称");
          return false;
      }
     if ($('#price').val() == '' ){
       //  alert("保证传入的不是空");
         alert("请输入价格");
         return false;
     }
      if ($('#num').val() == '' ){
        //  alert("保证传入的不是空");
          alert("请输入数量");
          return false;
      }
      if ($('#date').val() == '' ){
          //  alert("保证传入的不是空");
          alert("请输入日期");
          return false;
      }
      return true;
  }

</script>
<body class="sticky-header">

<section>
    <div class="left-side sticky-left-side">
        <div class="logo">
            <a href="index.html"><img src="images/logo2.png" alt=""></a>
        </div>
        <div class="logo-icon text-center">
            <a href="index.html"><img src="images/logo_icon.png" alt=""></a>
        </div>
        <div class="left-side-inner">
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="index.html"><i class="fa fa-home"></i> <span>主页</span></a></li>
                <li class="menu-list nav-active"><a href=""><i class="fa fa-tasks"></i> <span>商品管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a th:href="@{/ToCommodityManagement}"> 商品入库</a></li>
                        <li><a th:href="@{/ToGoodsIssue}"> 商品出库</a></li>
                        <li><a th:href="@{/ToGoodsReturn}"> 商品退货</a></li>
                        <li><a th:href="@{/ToGoodsLoss}"> 商品损耗报备</a></li>
                        <li><a th:href="@{/ToBasicInformation}">商品基本信息</a></li>
                    </ul>
                </li>
                               <li class="menu-list"><a href=""><i class="fa fa-bar-chart-o"></i> <span>入库分析</span></a>
                    <ul class="sub-menu-list">
                        <li><a th:href="@{/ToGoodsInStock}"> 商品入库记录</a></li>
                        <li><a th:href="@{/ToWarehousingAnalysis}"> 入库分析</a></li>
                       <li><a th:href="@{warehousingRankingList}"> 入库排行榜</a></li>

                    </ul>
                </li>
                <li class="menu-list"><a href="#"><i class="fa fa-th-list"></i> <span>出库分析</span></a>
                    <ul class="sub-menu-list">
                        <li><a th:href="@{/toOutboundGoods}">商品出库记录</a></li>
                        <li><a th:href="@{/toDeliveryAnalysis}">类别分析</a></li>                        <li><a th:href="@{toSingleIssue}"> 单品分析</a></li>
                        <li><a th:href="@{toOutboundRankingList}"> 出库排行榜</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-file-text"></i> <span>其他记录</span></a>
                    <ul class="sub-menu-list">
                        <li ><a th:href="@{/toReturnGoods}">退货查询</a></li>
                        <li ><a th:href="@{/toLossGoods}">损耗报备查询</a></li>
                    </ul>
                <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>设置</span></a>
                    <ul class="sub-menu-list">
                        <li ><a th:href="@{/toRevisePass}"> 修改密码</a></li>
                    </ul>
                </li></li><li><a th:href="@{/loginOut}"><i class="fa fa-sign-in"></i> <span>退出登录</span></a></li>
            </ul>
        </div>
    </div>
    <div class="main-content" >
        <div th:replace="common :: #header"></div>
        <div class="page-heading">
            <h3>
                商品入库
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">商品管理</a>
                </li>
                <li class="active"> 商品入库 </li>
            </ul>
        </div>
        <div  class="wrapper" style="height: 335px">
            <section class="panel">
                <header class="panel-heading">
                    单次入库
                    <label style="color: red" th:text="${addGoods}"></label>
                    <span class="tools pull-right">
<!--                        收缩-->
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                     </span>
                </header>
                <div class="panel-body">
                    <form class="cmxform form-horizontal adminex-form" method="post" action="" th:action="@{/Purchase}" th:onsubmit="return f()">
                        <div class="form-group ">
                            <div>
                                <div class="inputGoods">
                                    订单编号：
                                    <input type="text" id="orderId" name="orderId" placeholder="请输入订单编号" style="height:30px;width: 300px">
                                </div>
                                <div class="inputGoods"> 供货商名：
                                    <input type="text"   name="supplierName" placeholder="请输入供货商名" style="height:30px;width: 300px"></div>
                                <div class="inputGoods"> 商品编号：
                                    <input type="text" id="goodsId" name="goodsId" placeholder="请输入商品编号" style="height:30px;width: 300px"> </div>
                            </div>

                        </div>
                        <div class="form-group ">
                            <div>
                                <div class="inputGoods"> 商品名称：
                                    <input type="text" id="goodsName" placeholder="请输入商品名称" name="goodsName" style="height:30px;width: 300px">
                                </div>
                                <div class="inputGoods">
                                    商品类别：
                                    <input type="text" name="category" placeholder="请输入商品类别" style="height:30px;width: 300px">
                                </div>
                                <div class="inputGoods"> 进货单价：
                                    <input id="price" placeholder="请输入进货单价" th:onchange="if(!/^(([1-9]{1}\d*)|(0{1}))(\.\d{1,2})?$/.test(value)){th:value='';}" type="text" name="price" style="height:30px;width: 300px"></div>

                        </div>
                            </div>
                        <div class="form-group ">
                            <div>
                                <div class="inputGoods" > 入库数量：
                                    <input placeholder="请输入入库数量" th:onchange="if(!/^(([1-9]{1}\d*)|(0{1}))(\.\d{1,2})?$/.test(value)){th:value='';}" type="text" id="num" name="num" style="height:30px;width: 300px"></div>
                            </div>
                            <div class="inputGoods"> 数量单位：
                                <input type="text" placeholder="kg/盒/份" name="unit" style="height:30px;width: 300px">
                            </div>
                                <div class="inputGoods">入库日期:&nbsp&nbsp&nbsp
                                    <input type="Date" placeholder="请输入入库日期" id="date" name="date" height="30px"    style="height:30px;width: 300px">
                                </div>
                        </div>
                        <div class="form-group ">
                            <div style=" text-align: center">
                                <button  class="btn btn-primary" type="submit" >保存</button>
                                <button class="btn btn-default" type="reset" >取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>


        <div class="wrapper">
            <div class="row">
                <div>
                    <div class="col-lg-6">
                        <section class="panel">
                            <header class="panel-heading">
                                批量导入
                                <label style="color: red" th:text="${param.GoodsBatch}" />

                                <span class="tools pull-right">
<!--                        收缩-->
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                     </span>
                            </header>
                            <div class="panel-body">
                                不会导入？<a th:href="@{/Template}" >点击这有模板下载</a>
                                </br></br>
                                <form role="form" method="post" th:action="@{/Batch}" enctype="multipart/form-data">
                                    <div class="form-group">

                                        <input type="file" id="exampleInputFile" name="excel" >
                                        <p class="help-block">选择Excel文件批量导入.</p>
                                        <button type="submit" class="btn btn-primary">导入</button>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            2023 &copy; 板凳宽宽毕设作品 </a>
        </footer>




    </div>

</section>

<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script src="js/validation-init.js"></script>
<script type="text/javascript" >

</script>
<script src="js/scripts.js"></script>

</body>
</html>
