<!-- dkk
入库查询小页面
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <script>
        function delblog(){
        const ans = confirm("确认要删除？删除之后库存随之减少");
        if (ans===false) {
        event.preventDefault(); //取消默认应答
        return false;
    }else{
        alert("正在删除")
        return true
    }
    }
</script>

<body>
<table border="1" style="margin: auto;width: 100%" cellspacing="0">
    <tr>
        <th colspan="11">报备查询
        </th>
    </tr>
    <tr>
        <th>商品编号</th>
        <th>商品名称</th>
        <th>商品类别</th>
        <th>数量</th>
        <th>单位</th>
        <th>报备人</th>
        <th>日期</th>
    </tr>

    <tr th:each="loss:${lossAll.list}" style="text-align: center">
        <td th:text="${loss.goodsId}"></td>
        <td th:text="${loss.goodsName}"></td>
        <td th:text="${loss.category}"></td>
        <td th:text="${loss.num}"></td>
        <td th:text="${loss.unit}"></td>
        <td th:text="${loss.filedBy}"></td>
        <td th:text="${loss.date}"></td>
    </tr>
    <td colspan="11">
        <a th:if="${lossAll.hasPreviousPage}" th:href="@{/lossList?pn=1}">首页</a>
        <a th:if="${lossAll.hasPreviousPage}" th:href="@{'/lossList?pn='+${lossAll.prePage}}">上一页</a>
        <span th:each="num: ${lossAll.navigatepageNums}">
        <a th:if="${lossAll.pageNum == num}" style="color: #FF4400" th:href="@{'/lossList?pn='+${num}}" th:text="'('+${num}+')'"></a>
        <a th:if="${lossAll.pageNum != num}" th:href="@{'/lossList?pn='+${num}}" th:text="${num}"></a>
    </span>
            <a th:if="${lossAll.hasNextPage}" th:href="@{'/lossList?pn='+${lossAll.nextPage}}">下一页</a>
        <a th:if="${lossAll.hasNextPage}" th:href="@{'/lossList?pn='+${lossAll.pages}}">尾页</a>
        &nbsp;&nbsp;&nbsp;
        当前总计[[${lossAll.total}]]条数据
        &nbsp;&nbsp;&nbsp;
        <a th:href="@{/downloadExcel}">点击此处导出</a>
    </td>
</table>
</body>

</html>