<!-- dkk -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>全部用户</title>
</head>
<body>

    <table border="1" style="margin: auto;">
        <tr>
            <th colspan="8">用户信息</th>
        </tr>
    <tr>
        <th>#</th>
        <th>id</th>
        <th>账号</th>
        <th>密码</th>
        <th>年龄</th>
        <th>性别</th>
        <th>邮箱</th>
        <th colspan="2">操作</th>
    </tr>
    <tr th:each="user,stat:${page.records}">
        <th th:text="${stat.count}"></th>
        <th th:text="${user.id}"></th>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.gender}"></td>
        <td th:text="${user.email}"></td>
        <th>
        <a th:href="@{/delete/{id}(id=${user.id},pn=${page.current})}">删除</a>
        </th>
        <th>
            <a th:href="@{/increase}">修改</a>
        </th>
    </tr>
        <tr>
            <th colspan="5">当前是第[[${page.current}]]页,总计[[${page.pages}]]页,
                共[[${page.total}]]条记录</th>
            <th colspan="2">
                <a th:if="${page.current != 1}" th:href="@{/all(pn=1)}">首页</a>
                <a th:if="${page.current != 1}" th:href="@{/all(pn=${page.current - 1})}">[[${page.current - 1}]]</a>
                <a >[[${page.current}]]</a>
                <a th:if="${page.current &lt page.pages}  " th:href="@{/all(pn=${page.current +1})}">[[${page.current + 1}]]</a>
                <a th:if="${page.current != page.pages}" th:href="@{/all(pn=${page.pages})}">末页</a>
            </th>
        </tr>
    </table>




</body>
</html>