<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
<!--  -->

  <title>类别分析</title>

  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">


  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
<!--出库分析-->
</head>
<style>
    .text1{
        position: relative;
    }
    .text-top{
        position: absolute;
        top: 45px;
        left: 40px;
    }
</style>
<body class="sticky-header">

<section>

    <div class="left-side sticky-left-side">

        <div class="logo">
            <a href="index.html"><img src="images/logo1.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="images/logo_icon.png" alt=""></a>
        </div>

        <div class="left-side-inner">

            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="index.html"><i class="fa fa-home"></i> <span>主页</span></a></li>


                </li>


                <li class="menu-list"><a href=""><i class="fa fa-tasks"></i> <span>商品管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a th:href="@{/ToCommodityManagement}"> 商品入库</a></li>
                        <li><a th:href="@{/ToGoodsIssue}"> 商品出库</a></li>
                        <li><a th:href="@{/ToGoodsReturn}"> 商品退货</a></li>
                        <li><a th:href="@{/ToGoodsLoss}"> 商品损耗报备</a></li>
                        <li><a th:href="@{/ToBasicInformation}">商品基本信息</a></li>                     </ul>
                </li>
                               <li class="menu-list"><a href=""><i class="fa fa-bar-chart-o"></i> <span>入库分析</span></a>
                    <ul class="sub-menu-list">
                        <li><a th:href="@{/ToGoodsInStock}"> 商品入库记录</a></li>
                        <li><a th:href="@{/ToWarehousingAnalysis}"> 入库分析</a></li>
                        <li><a th:href="@{warehousingRankingList}"> 入库排行榜</a></li>

                    </ul>
                </li>
                <li class="menu-list nav-active"><a href="#"><i class="fa fa-th-list"></i> <span>出库分析</span></a>
                    <ul class="sub-menu-list">
                        <li><a th:href="@{/toOutboundGoods}">商品出库记录</a></li>
                        <li><a th:href="@{/toDeliveryAnalysis}">类别分析</a></li>
                        <li><a th:href="@{toSingleIssue}"> 单品分析</a></li>
                       <li><a th:href="@{toOutboundRankingList}"> 出库排行榜</a></li>                    </ul>
                </li>



                <li class="menu-list"><a href=""><i class="fa fa-file-text"></i> <span>其他记录</span></a>
                    <ul class="sub-menu-list">
                        <li ><a th:href="@{/toReturnGoods}">退货查询</a></li>
                        <li ><a th:href="@{/toLossGoods}">损耗报备查询</a></li>
                    </ul>
                <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>设置</span></a>
                    <ul class="sub-menu-list">
                        <li ><a th:href="@{/toRevisePass}"> 修改密码</a></li>
                    </ul>
                </li></li><li><a th:href="@{/loginOut}"><i class="fa fa-sign-in"></i> <span>退出登录</span></a></li>

            </ul>

        </div>
    </div>

    <div class="main-content" >


        <div th:replace="common :: #header"></div>

        <div class="page-heading">
            <h3>
                类别分析
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">出库分析</a>
                </li>
                <li class="active"> 类别分析 </li>
            </ul>
        </div>

        <div class="wrapper">
            <div class="row">
                <div class="col-sm-6">
                    <section class="panel">
                        <header class="panel-heading">
                            <a style="color:#6dc5a3 ">库存[[${DeliveryAnalysisText}]]总量：[[${numStock}]]</a> /
                            <a style="color:#b8d3f5 ">本月[[${DeliveryAnalysisText}]]入库量：[[${numGoods}]]</a>/
                            <a style="color:#5f728f ">本月[[${DeliveryAnalysisText}]]出库量：[[${numIssue}]]</a>
                                <form th:action="@{/toDeliveryAnalysis}" method="post">
                                    商品名称：
                                <input type="text" name="goodsName" th:value="${DeliveryAnalysisText}">
                                <input type="submit" value="查询">
                            </form>
                        <span class="tools pull-right">
<!--                            <a href="javascript:;" class="fa fa-chevron-down"></a>-->
<!--                         -->
                         </span>
                        </header>
                        <div class="panel-body">
                            <div class="chartJS">
                                <canvas id="pie-chart-js" height="250" width="800" ></canvas>
                            </div>

                        </div>
                    </section>
                </div>
                <div class="col-sm-6">
                    <section class="panel">
                        <header class="panel-heading">
                            本月出库各类别比例
                         <span class="tools pull-right">
<!--                            <a href="javascript:;" class="fa fa-chevron-down"></a>-->
<!--                         -->
                         </span>
                        </header>
                        <div class="panel-body">
                            <div class="chartJS" >
                                <div class="text-top">
                                <h6 th:if="${donutDataNum0 != 0}" style="color: #BBFFFF">[[${donutDataNumCategory0}]]:[[${donutDataNum0}]]</h6>
                                <h6 th:if="${donutDataNum1 != 0}" style="color: #FFDAB9">[[${donutDataNumCategory1}]]:[[${donutDataNum1}]]</h6>
                                <h6 th:if="${donutDataNum2 != 0}" style="color: #668B8B">[[${donutDataNumCategory2}]]:[[${donutDataNum2}]]</h6>
                                <h6 th:if="${donutDataNum3 != 0}" style="color: #E6E6FA">[[${donutDataNumCategory3}]]:[[${donutDataNum3}]]</h6>
                                <h6 th:if="${donutDataNum4 != 0}" style="color: #00CDCD">[[${donutDataNumCategory4}]]:[[${donutDataNum4}]]</h6>
                                <h6 th:if="${donutDataNum5 != 0}" style="color: #7FFFD4">[[${donutDataNumCategory5}]]:[[${donutDataNum5}]]</h6>
                                <h6 th:if="${donutDataNum6 != 0}" style="color: #F0FFFF">[[${donutDataNumCategory6}]]:[[${donutDataNum6}]]</h6>
                                <h6 th:if="${donutDataNum7 != 0}" style="color: #C1FFC1">[[${donutDataNumCategory7}]]:[[${donutDataNum7}]]</h6>
                                <h6 th:if="${donutDataNum8 != 0}" style="color: #6495ED">[[${donutDataNumCategory8}]]:[[${donutDataNum8}]]</h6>
                                <h6 th:if="${donutDataNum9 != 0}" style="color: #00FF7F">[[${donutDataNumCategory9}]]:[[${donutDataNum9}]]</h6>
                                <h6 th:if="${donutDataNum10 != 0}" style="color: #00BFFF">[[${donutDataNumCategory10}]]:[[${donutDataNum10}]]</h6>
                                <h6 th:if="${donutDataNum11 != 0}" style="color: #00FFFF">[[${donutDataNumCategory11}]]:[[${donutDataNum11}]]</h6>
                                <h6 th:if="${donutDataNum12 != 0}" style="color: #CDC673">[[${donutDataNumCategory12}]]:[[${donutDataNum12}]]</h6>
                                <h6 th:if="${donutDataNum13 != 0}"  style="color: #3CB371">[[${donutDataNumCategory13}]]:[[${donutDataNum13}]]</h6>
                                <h6 th:if="${donutDataNum14 != 0}" style="color: #FFC1C1">[[${donutDataNumCategory14}]]:[[${donutDataNum14}]]</h6>
                                </div>

                                <canvas id="donut-chart-js" height="250" width="800" ></canvas>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            本月销售量前七
                             <a style="color: #2a323f">  数量</a>/
                             <a style="color: #6dc5a3">  销售额</a>
                         <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                        </header>
                        <div class="panel-body">
                            <div class="chartJS">
                                <canvas id="bar-chart-js" height="250" width="800" ></canvas>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            销售类别前三趋势图<a style="color:#6dc5a3">/ [[${lineDataName0}]]</a>
                            <a style="color:#00F5FF">/ [[${lineDataName1}]]</a>
                            <a style="color:#FFDAB9">/ [[${lineDataName2}]]</a>
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                        </header>
                        <div class="panel-body">
                            <div class="chartJS">
                                <canvas id="line-chart-js" height="250" width="800" ></canvas>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <footer>
            2023 &copy; 板凳宽宽毕设作品 </a>
        </footer>

    </div>

</section>

<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<!--Chart JS-->
<script src="js/chart-js/Chart.js"></script>
<script src="js/chart-js/chartjs.init.js"></script>

<script src="js/scripts.js"></script>
<script>
    (function(){
        var t;
        function size(animate){
            if (animate == undefined){
                animate = false;
            }
            clearTimeout(t);
            t = setTimeout(function(){
                $("canvas").each(function(i,el){
                    $(el).attr({
                        "width":$(el).parent().width(),
                        "height":$(el).parent().outerHeight()
                    });
                });
                redraw(animate);
                var m = 0;
                $(".chartJS").height("");
                $(".chartJS").each(function(i,el){ m = Math.max(m,$(el).height()); });
                $(".chartJS").height(m);
            }, 30);
        }
        $(window).on('resize', function(){ size(false); });


        function redraw(animation){
            var options = {};
            if (!animation){
                options.animation = false;
            } else {
                options.animation = true;
            }


            var barChartData = {
                labels : ["[[${barChartDataName0}]]","[[${barChartDataName1}]]","[[${barChartDataName2}]]",
                    "[[${barChartDataName3}]]","[[${barChartDataName4}]]","[[${barChartDataName5}]]","[[${barChartDataName6}]]"],
                datasets : [
                    {
                        fillColor : "#2a323f",
                        strokeColor : "#2a323f",
                        data :
                            ['[[${barChartDataNum0}]]','[[${barChartDataNum1}]]','[[${barChartDataNum2}]]',
                            '[[${barChartDataNum3}]]','[[${barChartDataNum4}]]','[[${barChartDataNum5}]]',
                            '[[${barChartDataNum6}]]']
                    },
                    {
                        fillColor : "#6dc5a3",
                        strokeColor : "#6dc5a3",
                        data :
                            ['[[${barChartDataCost0}]]','[[${barChartDataCost1}]]','[[${barChartDataCost2}]]',
                            '[[${barChartDataCost3}]]','[[${barChartDataCost4}]]','[[${barChartDataCost5}]]',
                            '[[${barChartDataCost6}]]']
                    }
                ]

            }

            var myLine = new Chart(document.getElementById("bar-chart-js").getContext("2d")).Bar(barChartData);

            var Linedata = {
                labels : ['[[${lineData6}]]','[[${lineData5}]]','[[${lineData4}]]','[[${lineData3}]]',
                    '[[${lineData2}]]','[[${lineData1}]]','[[${lineData0}]]'],
                datasets : [
                    {
                        fillColor : "#00000000",
                        strokeColor : "#6dc5a3",
                        pointColor : "#6dc5a3",
                        pointStrokeColor : "#fff",
                        data : ['[[${lineDataNum60}]]','[[${lineDataNum50}]]','[[${lineDataNum40}]]',
                            '[[${lineDataNum30}]]','[[${lineDataNum20}]]','[[${lineDataNum10}]]',
                            '[[${lineDataNum00}]]']
                    },
                    {
                        fillColor : "#00000000",
                        strokeColor : "#00F5FF",
                        pointColor : "#00F5FF",
                        pointStrokeColor : "#fff",
                        data : ['[[${lineDataNum61}]]','[[${lineDataNum51}]]','[[${lineDataNum41}]]',
                            '[[${lineDataNum31}]]','[[${lineDataNum21}]]','[[${lineDataNum11}]]',
                            '[[${lineDataNum01}]]']
                    },
                    {
                        fillColor : "#00000000",
                        strokeColor : "#FFDAB9",
                        pointColor : "#FFDAB9",
                        pointStrokeColor : "#fff",
                        data : ['[[${lineDataNum62}]]','[[${lineDataNum52}]]','[[${lineDataNum42}]]',
                            '[[${lineDataNum32}]]','[[${lineDataNum22}]]','[[${lineDataNum12}]]',
                            '[[${lineDataNum02}]]']
                    }

                ]
            }
            var myLineChart = new Chart(document.getElementById("line-chart-js").getContext("2d")).Line(Linedata);


            var pieData = [
                {
                    value: [[${numGoods}]],
                    color:"#b8d3f5"
                },
                {
                    value : [[${numIssue}]],
                    color : "#5f728f"
                },
                {
                    value : [[${numStock}]],
                    color : "#6dc5a3"
                }

            ];

            var myPie = new Chart(document.getElementById("pie-chart-js").getContext("2d")).Pie(pieData);



            var donutData = []
            for (let i=0; i<[[${donutDataSize}]]; i++){
                if (i==1) {
                    donutData.push({
                        value: [[${donutDataNum1}]],
                        color: "#FFDAB9"
                    })
                }else if(i==0){
                    donutData.push({
                        value: [[${donutDataNum0}]],
                        color: "#BBFFFF"
                    })
                }
                else if(i==2) {
                    donutData.push({
                        value: [[${donutDataNum2}]],
                        color: "#668B8B"
                    })
                }else if(i==3) {
                    donutData.push({
                        value: [[${donutDataNum3}]],
                        color: "#E6E6FA"
                    })
                }
                else if(i==4){
                    donutData.push({
                        value: [[${donutDataNum4}]],
                        color: "#00CDCD"
                    })
                }else if(i==5){
                    donutData.push({
                        value: [[${donutDataNum5}]],
                        color: "#7FFFD4"
                    })
                }else if(i==6){
                    donutData.push({
                        value: [[${donutDataNum6}]],
                        color: "#F0FFFF"
                    })
                }else if(i==7){
                    donutData.push({
                        value: [[${donutDataNum7}]],
                        color: "#C1FFC1"
                    })
                }else if(i==8){
                    donutData.push({
                        value: [[${donutDataNum8}]],
                        color: "#6495ED"
                    })
                }else if(i==9){
                    donutData.push({
                        value: [[${donutDataNum9}]],
                        color: "#00FF7F"
                    })
                }else if(i==10){
                    donutData.push({
                        value: [[${donutDataNum10}]],
                        color: "#00BFFF"
                    })
                }else if(i==11){
                    donutData.push({
                        value: [[${donutDataNum11}]],
                        color: "#00FFFF"
                    })
                }else if(i==12){
                    donutData.push({
                        value: [[${donutDataNum12}]],
                        color: "#CDC673"
                    })
                }else if(i==13){
                    donutData.push({
                        value: [[${donutDataNum13}]],
                        color: "#3CB371"
                    })
                }else if(i==14) {
                    donutData.push({
                        value: [[${donutDataNum14}]],
                        color: "#FFC1C1"
                    })
                }
            }


            var myDonut = new Chart(document.getElementById("donut-chart-js").getContext("2d")).Doughnut(donutData);
        }




        size(true);

    }());
</script>
<script>
    var a=document.getElementById("aa")
    a.onload=function () {
        for (var i=0;i<5;i++){
            <h4>a</h4>
        }
    }
</script>
</body>
</html>
