<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">


  <title>单品分析</title>

  <link rel="stylesheet" href="js/morris-chart/morris.css">

  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">

  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>

</head>

<body class="sticky-header">

<section>

    <div class="left-side sticky-left-side">

        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="images/logo_icon.png" alt=""></a>
        </div>

        <div class="left-side-inner">

            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="index.html"><i class="fa fa-home"></i> <span>主页</span></a></li>

                </li>
                <li class="menu-list"><a href=""><i class="fa fa-tasks"></i> <span>商品管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a th:href="@{/ToCommodityManagement}"> 商品入库</a></li>
                        <li><a th:href="@{/ToGoodsIssue}"> 商品出库</a></li>
                        <li><a th:href="@{/ToGoodsReturn}"> 商品退货</a></li>
                        <li><a th:href="@{/ToGoodsLoss}"> 商品损耗报备</a></li>
                        <li><a th:href="@{/ToBasicInformation}">商品基本信息</a></li>                     </ul>
                </li>
                <li class="menu-list "><a href=""><i class="fa fa-bar-chart-o"></i> <span>入库分析</span></a>
                    <ul class="sub-menu-list">
                        <li><a th:href="@{/ToGoodsInStock}"> 商品入库记录</a></li>
                        <li><a th:href="@{/ToWarehousingAnalysis}"> 入库分析</a></li>
                        <li><a th:href="@{warehousingRankingList}"> 入库排行榜</a></li>
                    </ul>
                </li>
                <li class="menu-list nav-active"><a href="#"><i class="fa fa-th-list"></i> <span>出库分析</span></a>
                    <ul class="sub-menu-list">
                        <li><a th:href="@{/toOutboundGoods}">商品出库记录</a></li>
                        <li><a th:href="@{/toDeliveryAnalysis}">类别分析</a></li>
                        <li><a th:href="@{toSingleIssue}"> 单品分析</a></li>
                       <li><a th:href="@{toOutboundRankingList}"> 出库排行榜</a></li>                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-file-text"></i> <span>其他记录</span></a>
                    <ul class="sub-menu-list">
                        <li ><a th:href="@{/toReturnGoods}">退货查询</a></li>
                        <li ><a th:href="@{/toLossGoods}">损耗报备查询</a></li>
                    </ul>
                <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>设置</span></a>
                    <ul class="sub-menu-list">
                        <li ><a th:href="@{/toRevisePass}"> 修改密码</a></li>
                    </ul>
                </li></li><li><a th:href="@{/loginOut}"><i class="fa fa-sign-in"></i> <span>退出登录</span></a></li>

            </ul>

        </div>
    </div>

    <div class="main-content" >


        <div th:replace="common :: #header"></div>

        <div class="page-heading">
            <h3>
                单品分析
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">出库分析</a>
                </li>
                <li class="active"> 单品分析 </li>
            </ul>
        </div>

        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            30天内热销商品分析 <a style="color:#414e62 ">出库量</a>
                            <a style="color:#788ba0 ">入库量</a>
                            <a style="color:#6dc5a3 ">库存</a>
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                        </header>
                        <div class="panel-body">
                            <div id="graph-bar"></div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            商品销售趋势
                            <form th:action="@{/toSingleIssue}" method="post">
                                商品名称：
                                <input type="text" name="goodsName" th:value="${graphAreaLineNameText}">
                                日期:
                                <input type="radio" value="day" name="specificDate"  th:checked="${graphAreaLineDateText}"/>日
                                <input type="radio" value="month" name="specificDate" th:checked="${graphAreaLineDateText1}"/>月

                                <input type="submit" value="查询">
                            </form>
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>

                         </span>
                        </header>
                        <div class="panel-body">
                            <div id="graph-line"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <footer>
            2023 &copy; 板凳宽宽毕设作品 </a>
        </footer>

    </div>

</section>

<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>


<script src="js/morris-chart/morris.js"></script>
<script src="js/morris-chart/raphael-min.js"></script>
<script src="js/morris-chart/morris.init.js"></script>

<script src="js/scripts.js"></script>
<script>
    Morris.Bar({
        element: 'graph-bar',
        data: [
            {x: '[[${toSingleName0}]]', y: [[${toSingleIssueNum0}]], z: [[${toSingleGoodsNum0}]], a: [[${toSingleStockNum0}]]},
            {x: '[[${toSingleName1}]]', y: [[${toSingleIssueNum1}]], z: [[${toSingleGoodsNum1}]], a:  [[${toSingleStockNum1}]]},
            {x: '[[${toSingleName2}]]', y: [[${toSingleIssueNum2}]], z: [[${toSingleGoodsNum2}]], a:  [[${toSingleStockNum2}]]},
            {x: '[[${toSingleName3}]]', y: [[${toSingleIssueNum3}]], z: [[${toSingleGoodsNum3}]], a:  [[${toSingleStockNum3}]]}
        ],
        xkey: 'x',
        ykeys: ['y', 'z', 'a'],
        labels: ['出库量', '入库量', '库存'],
        barColors:['#414e62','#788ba0','#6dc5a3']


    });



    var day_data = [
        {"elapsed": "[[${graphAreaLineDate9}]]", "value": [[${graphAreaLineNum9}]]},
        {"elapsed": "[[${graphAreaLineDate8}]]", "value": [[${graphAreaLineNum8}]]},
        {"elapsed": "[[${graphAreaLineDate7}]]", "value": [[${graphAreaLineNum7}]]},
        {"elapsed": "[[${graphAreaLineDate6}]]", "value": [[${graphAreaLineNum6}]]},
        {"elapsed": "[[${graphAreaLineDate5}]]", "value": [[${graphAreaLineNum5}]]},
        {"elapsed": "[[${graphAreaLineDate4}]]", "value": [[${graphAreaLineNum4}]]},
        {"elapsed": "[[${graphAreaLineDate3}]]", "value": [[${graphAreaLineNum3}]]},
        {"elapsed": "[[${graphAreaLineDate2}]]", "value": [[${graphAreaLineNum2}]]},
        {"elapsed": "[[${graphAreaLineDate1}]]", "value": [[${graphAreaLineNum1}]]},
        {"elapsed": "[[${graphAreaLineDate0}]]", "value": [[${graphAreaLineNum0}]]}
    ];
    Morris.Line({
        element: 'graph-line',
        data: day_data,
        xkey: 'elapsed',
        ykeys: ['value'],
        labels: ['value'],
        lineColors:['#1FB5AD'],
        parseTime: false
    });
</script>
</body>
</html>
