<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dk.jdbc.mapper.GoodsMapper">
    <!-- mapper接口类名和映射文件的类名保持一致
         mapper接口的方法名要和映射文件sql的ID保持一致
         void addPurchase(Goods goods);
          private Integer goodsId; //商品编号
    private String goodsName; //商品名
    private String category; //商品类别
    private double price;  //单价
    private double num;  //数量
    private String unit;  //价格单位
    private double cost;  //总计
    private Date date;    //进货日期
     -->
    <insert id="addPurchase" parameterType="com.dk.jdbc.pojo.Goods">
        INSERT INTO goods (order_id,supplier_name,goods_id,goods_name,category,price,num,unit,cost,date)
        VALUES (#{orderId},#{supplierName},#{goodsId}, #{goodsName},#{category}, #{price}, #{num}, #{unit}, #{cost},#{date});
    </insert>

<!--  无用查询，留做模板  getCategory-->
    <select id="getCategory" resultType="String">
        SELECT DISTINCT category FROM goods

    </select>

<!--按条件查询-->
    <select id="getListGoods" resultType="com.dk.jdbc.pojo.Goods">
        select * from goods where 1=1
        <if test="orderId !='' and orderId !=null">
           and order_id = #{orderId}
        </if>
        <if test="supplierName !='' and supplierName !=null">
            and supplier_name = #{supplierName}
        </if>
        <if test="goodsName !='' and goodsName !=null">
            and goods_name = #{goodsName}
        </if>
        <if test="category !='' and category !=null">
            and category = #{category}
        </if>
        <if test="date !='' and date !=null">
            and date = #{date}
        </if>
        ORDER BY date DESC
    </select>
<!--    统计入库花费-->
    <select id="getMoney" resultType="java.lang.Double">
        SELECT SUM(cost) FROM goods WHERE date = #{date}
    </select>
    <select id="getGoodsCurve" resultType="com.dk.jdbc.pojo.Goods">
        SELECT
        date,sum(`num`) AS num
        FROM
        goods
        WHERE
        DATE_SUB(CURDATE(), INTERVAL 10 DAY) <![CDATA[<=]]> date(date)
        GROUP BY
        date;

    </select>
<!--    查询某个商品最近12天的入库量-->
    <select id="WarehousingAnalysisByName" resultType="com.dk.jdbc.pojo.Goods">
        SELECT
            goods_name,date,sum(`num`) AS num,SUM(`cost`) AS cost
        FROM
            goods
        WHERE
            DATE_SUB(CURDATE(), INTERVAL 12 DAY) <![CDATA[<=]]> date(date) AND goods_name = #{goodsName}
        GROUP BY
            date;
    </select>
<!--    按月份查询商品销量  price为月份，借存在price-->
    <select id="monthWarehousingAnalysisByName" resultType="com.dk.jdbc.pojo.Goods">
        SELECT
            sum(`num`) AS num,SUM(cost) AS cost,
            MONTH(date) price
        FROM goods
        WHERE goods_name=#{goodsName} AND date > #{date}
        GROUP BY MONTH(date)
    </select>
<!--    查询商品最近一年入库量，每周统计一次-->
    <select id="getNum365" resultType="com.dk.jdbc.pojo.Goods">
        SELECT
            SUM(num) AS num,
            WEEK(date) price
        FROM
            goods
        WHERE date > #{date}
        GROUP BY
            WEEK(date)
        ORDER BY
            WEEK(date) DESC;
    </select>
<!--    统计本月入库量-->
    <select id="sum30Num" resultType="java.lang.Double">
        SELECT SUM(num) AS num FROM goods WHERE date >= #{date}
        <if test="goodsName !='' and goodsName !=null">
            and goods_name = #{goodsName}
        </if>
    </select>
    <select id="getIssueRankingNum" resultType="com.dk.jdbc.pojo.Goods">
        SELECT goods_name,SUM(num) AS num
        FROM `goods`
        WHERE  DATE_SUB(CURDATE(), INTERVAL 30 DAY) <![CDATA[<=]]> date(date) AND goods_name = #{goodsName}
        GROUP BY goods_name
    </select>
    <select id="sortDayB" resultType="com.dk.jdbc.pojo.Goods">
        SELECT SUM(num) AS num,goods_name FROM goods WHERE TO_DAYS(date) =TO_DAYS(now())
        GROUP BY goods_name ORDER BY num DESC
    </select>
    <select id="sortMonthB" resultType="com.dk.jdbc.pojo.Goods">
        SELECT SUM(num) AS num,goods_name FROM goods WHERE DATE_FORMAT( date, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
        GROUP BY goods_name ORDER BY num DESC
    </select>
    <select id="sortYearB" resultType="com.dk.jdbc.pojo.Goods">
        SELECT SUM(num) AS num,goods_name FROM goods WHERE  YEAR(date) = YEAR(NOW())
        GROUP BY goods_name ORDER BY num DESC
    </select>

</mapper>